@using InfoApp.Web.Models.InputOutputModels.OutputModels.CompanyOutputModels;
@model List<CompanyOutputModel>;

@{
    ViewData["Title"] = "All";
}

@{
    int count = 0;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-secondary">Companies</h3>
        </div>
        <div class="col offset-8">
            <a type="button" class="btn btn-primary" href="~/Administration/All">Back</a>
            <a type="button" class="btn bg-secondary text-white" href="~/Company/Create">Add</a>
        </div>
    </div>
</div>

<div class="table-responsive mt-5">
    @if (Model.Count() == 0)
    {
        <h3 class="text-danger ">No companies in database!!!</h3>
    }
    else
    {
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="text-secondary border" scope="col">#</th>
                    <th class="text-secondary border" scope="col">Company name</th>
                    <th class="text-secondary border" scope="col">Created at</th>
                    <th class="text-secondary border" scope="col">Offices</th>
                    <th class="text-secondary border" scope="col">Employees</th>
                    <th class="text-secondary border" scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    ++count;
                <tr class="text-center">
                    <td class="text-secondary border" scope="col">@count</td>
                    <td class="text-secondary border" name="companyName" scope="col">@Model[i].CompanyName</td>
                    <td class="text-secondary border" name="companyCreation" scope="col">@Model[i].CompanyCreation</td>
                    <td class="text-secondary border" scope="col">
                        <a class="btn bg-success text-white" href="~/Office/All/@Model[i].CompanyId">Offices</a>
                    </td>
                    <td class="text-secondary border" scope="col">
                        <a class="btn bg-warning text-white" href="~/Employee/AllByCompany/@Model[i].CompanyId">Employees</a>
                    </td>
                    <td class="text-secondary border" scope="col">
                        <a class="btn bg-secondary text-white" href="~/Company/Edit/@Model[i].CompanyId">Edit</a>
                        <a class="btn bg-danger text-white" href="~/Company/Delete/@Model[i].CompanyId">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>


