
@{
    ViewData["Title"] = "ExistOffices";
}

<h3 class="text-danger">Can not remove this company before to delete offices and employees which are connected with it!!!</h3>
<a type="button" class="btn btn-primary mt-3" href="~/Company/All">Back</a>

