@using InfoApp.Web.Models.InputOutputModels.InputModels.OfficeInputModels;
@model OfficeCreateInputModel;

@{
    ViewData["Title"] = "Create";
}

<div class="row mt-5">
    <div class="col-md-6 offset-3">
        <h1 class="text-secondary">Add</h1>
        <form id="account" method="post">
            <h4 class="text-secondary">Create new office</h4>
            <hr class="bg-secondary" style="height:2px" />
            <div class="form-group">
                <label class="text-primary">Office name</label>
                <input name="OfficeName" class="form-control" />
            </div>
            <div class="form-group">
                <input hidden name="companyId" class="form-control" value="@Model.CompanyId" />
                <input hidden name="companyName" class="form-control" value="@Model.CompanyName" />
            </div>
            <div class="form-group">
                <label class="text-primary">City name</label>
                <select class="form-control" name="cityName" type="text">
                    <option selected disabled>-- Choose city --</option>
                    @for (int i = 0; i < Model.Cities.Count(); i++)
                    {
                        <option>@Model.Cities[i].CityName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="text-primary">Street name</label>
                <input name="streetName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="text-primary">Street number</label>
                <input min="1" type="number" name="streetNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="text-primary">Headquaters</label>
                <select class="form-control" name="headquaters" type="text">
                    <option selected disabled>-- Choose --</option>
                    <option>yes</option>
                    <option>no</option>
                </select>
            </div>
            <hr class="bg-secondary" style="height:2px" />
            <div class="form-group text-lg-right">
                <a type="button" class="btn btn-primary" href="~/Office/All/@Model.CompanyId">Back</a>
                <button type="submit" class="btn btn-secondary">Create</button>
            </div>
        </form>
    </div>
</div>

