
@{
    ViewData["Title"] = "Admin Dashboard";
}

    <h1 class="text-secondary text-center mt-5">Admin Dashboard</h1>

 <div class="row text-white justify-content-xl-center mt-5">
    <div class="col-md-4">
        <section>
            <form>
                <hr class="bg-secondary mb-3" style="height:2px" />
                <div class="form-group border rounded text-white text-center">
                    <a type="button" class="btn btn-primary btn-lg btn-block bg-secondary" href="~/Country/All">Country</a>
                </div>
                <div class="form-group border rounded text-white text-center">
                    <a type="button" class="btn btn-primary btn-lg btn-block bg-secondary" href="~/City/All">City</a>
                </div>
                <div class="form-group border rounded text-white text-center">
                    <a type="button" class="btn btn-primary btn-lg btn-block bg-secondary" href="~/Company/All">Company</a>
                </div>
                <div class="form-group border rounded text-white text-center">
                    <a type="button" class="btn btn-primary btn-lg btn-block bg-secondary" href="~/ExperienceLevel/All">Experience Level</a>
                </div>
                <hr class="bg-secondary mt-3" style="height:2px" />
            </form>
        </section>
    </div>
</div>

