@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center mt-5">
        <h1 class="display-4 text-secondary"><strong>Welcome</strong></h1>
        <h3 class="text-secondary mt-3">If you want to :</h3>
        <h5 class="text-primary">Keep an information for employees.</h5>
        <h5 class="text-primary">Add an information for offices of your company.</h5>
        <h5 class="text-primary">Manage an information for your company/companies.</h5>
        <h3 class="text-secondary mt-3">start with InfoApp.</h3>
        <h3 class="text-secondary">If you have an account Login, else Register.</h3>
    </div>
