@{
    ViewData["Title"] = "Create";
}

    <div class="row mt-5">
        <div class="col-md-6 offset-3">
            <h1 class="text-secondary">Add</h1>
            <form id="account" method="post">
                <h4 class="text-secondary">Create new Experience level</h4>
                <hr class="bg-secondary" style="height:2px" />
                <div class="form-group">
                    <label class="text-primary">Level name</label>
                    <input name="name" class="form-control" />
                </div>
                <hr class="bg-secondary" style="height:2px" />
                <div class="form-group text-lg-right">
                    <a type="button" class="btn btn-primary" href="~/ExperienceLevel/All">Back</a>
                    <button type="submit" class="btn btn-secondary">Create</button>
                </div>
            </form>
        </div>
    </div>

